<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body>
    <h1>Hello user , please Enter the OTP sent to your email Id : </h1>
    <form action="/verify" method="post">
        otp: <input type="text" name="userotp">
        <button type="submit" > submit otp </button>
    </form>
</body>
</html>